# virtual environment
.venv

# path configs
configs.yaml

# dataset
data/coco/
*.zip

# model
checkpoints/
*.pth

# logs
runs/


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS
.DS_Store
